<!doctype html>
{% extends "base.html" %}
{% load static %}
{% block page_content %}

<head>
    <title>kauta - About</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<br>
<br>
<br>
<div class="container">
    <div class="row no-gutters">
        <div class="col-md-7">
            <div class="container">
                <br>
                <center>
                    <h2>Why kauta?</h2>
                </center>
                <br>
                <h5>Kauta is derived from the Sesotho word 'khauta', meaning Gold.</h5>
                <h5>Historically, Gold has been an excellent investment. Our goal is to bring you the same value that Gold has brought investors for decades: A safe haven that reduces risk and increases reward.</h5>
                <br>
                <center>
                    <a href="{% url 'signup' %}" class="btn button1">Get Early Access</a>
                </center>
                <br>
            </div>
        </div>
        <div class="col-md-5">
            <img src="{% static 'img/gold.jpg' %}" class="card-img" alt="">
        </div>
    </div>
</div>
<br>
<br>
<div class="row justify-content-center">
    <div class="col-md-9">
        <div class="container shadow bg-light">
            <div class="container">
                <div class="container">
                    <br>
                    <br>
                    <center><h2>Our Story</h2></center>
                    <br>
                    <h5>We believe that investing knowledge and financial information should be readily available to
                        everyone, easy to understand and effectively used for financial success.</h5>
                    <h5>So, we designed Kauta - the simplest, most effective platform for stock market research,
                    financial analysis and investing knowledge.</h5>
                    <br>
                    <br>
                    <center><h5>Your financial freedom is our success.</h5></center>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>

<div class="container">
    <div class="row no-gutters">
        <div class="col-md-7">
            <div class="container">
                <br>
                <center>
                    <h2>Our Mission</h2>
                </center>
                <br>
                <h5>
                    <ul>
                        <li>Build simple and effective stock market tools</li>
                        <li>Reduce the costs of successful investing</li>
                        <li>Support and enable you to be financially independent</li>
                        <li>Educate the world about Financial Literacy and Investing</li>
                    </ul>
                </h5>
                <br>
                <center>
                    <a href="{% url 'blog_index' %}" class="btn button1">Our Blog</a>
                    <a href="{% url 'signup' %}" class="btn button2">Get Early Access</a>
                </center>
                <br>
            </div>
        </div>
        <div class="col-md-5">
            <img src="{% static 'img/pexels-photo-265087.jpeg' %}" class="card-img" alt="">
        </div>
    </div>
</div>
<br>
<br>
<br>

<div class="container">
    <div class="row no-gutters">
        <div class="col-md-5">
            <img src="{% static 'img/social_media.png' %}" class="card-img img-disappear" alt="">
        </div>
        <br>
        <div class="col-md-7">
            <div class="container">
                <br>
                <br>
                <br>
                <br>
                <center>
                    <h2>Follow Us</h2>
                </center>
                <br>
                <center>
                    <h5>Stay current with our latest updates!</h5>
                </center>
                <br>
                <br>
                <center>
                    <a href="https://www.linkedin.com/company/kalai-tech/" class="btn button3">LinkedIn</a>
                    <a href="{% url 'blog_index' %}" class="btn button2">Our Blog</a>
                </center>
            </div>
        </div>
    </div>
</div>
<br>

{% endblock %}
</body>
