<!doctype html>
{% extends "base.html" %}
{% load static %}
{% block page_content %}

<head>
    <title>kauta - Success for Every Investor</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<br>
<br>
<br>

<div class="container">
    <div class="row no-gutters">
        <div class="col-md-7">
            <div class="container">
                <br>
                <center>
                    <h2>Success for Every Investor</h2>
                </center>
                <br>
                <h5>Kauta is an easy-to-use investing platform that provides stock market information and investment analysis.</h5>
                <h5>We use open source technology to help you make great investments and build financial freedom.</h5>
                <br>
                <center>
                    <a href="{% url 'signup' %}" class="btn button1">Get Early Access</a>
                </center>
                <br>
            </div>
        </div>
        <div class="col-md-5">
            <img src="{% static 'img/photo-1551288049-bebda4e38f71.jpg' %}" class="card-img" alt="">
        </div>
    </div>
</div>
<br>
<br>
<br>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="container shadow bg-light">
                <div class="container">
                    <div class="row no-gutters">
                        <div class="col-md-7">
                            <div class="container">
                                <br>
                                <br>
                                <br>
                                <center>
                                    <h2>Join our Investment Community</h2>
                                    <br>
                                    <br>
                                    <h5>Receive our newsletter and other direct communications.</h5>
                                </center>
                                <br>
                                <br>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="container">
                                <br>
                                <br>
                                <br>
                                <center>
                                    <h6><strong>{{ ind }}</strong></h6>
                                    <form method="post">
                                        {% csrf_token %}
                                        <p>{{ form.email }}</p>
                                        <small>{{ form.permission }} I accept the Kauta <a href="{% url 'terms' %}" style="color: blue">T&Cs</a> and <a href="{% url 'privacy' %}" style="color: blue">Privacy Policy</a></small>
                                        <br>
                                        <br>
                                        <button type="submit" class="btn button3">Join our Mailing List</button>
                                    </form>
                                </center>
                                <br>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>

<div class="container">
    <div class="row no-gutters">
        <div class="col-md-5">
            <img src="{% static 'img/pexels-photo-669610.jpeg' %}" class="card-img img-disappear" alt="">
        </div>
        <br>
        <div class="col-md-7">
            <div class="container">
                <center>
                    <h2>Automated Investment Analysis</h2>
                </center>
                <br>
                <h5>We do all the hard work, so you don't have to.</h5>
                <h5>We collect and analyse the latest news, annual reports and financial statements to give you an edge in the market.</h5>
                <h5>You just need to buy the shares through your online broker!</h5>
                <br>
                <center>
                    <a href="{% url 'pricing_index' %}" class="btn button2">Read More</a>
                </center>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>

<div class="container">
    <div class="row no-gutters">
        <div class="col-md-7">
            <div class="container">
                <br>
                <center>
                    <h2>Its All About You</h2>
                </center>
                <br>
                <h5>We understand that investing is time-consuming and complicated. With our platform, the process is easy and effective - you can research and monitor your investments in real time to maximize return and minimize risk.</h5>
                <br>
                <center>
                    <a href="{% url 'pricing_index' %}" class="btn button3">Coming Soon!</a>
                </center>
                <br>
            </div>
        </div>
        <div class="col-md-5">
            <img src="{% static 'img/money-2724241_960_720.webp' %}" class="card-img" alt="">
        </div>
    </div>
</div>
<br>
<br>
<br>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9">
            <div class="container shadow bg-light">
                <div class="container">
                    <div class="container">
                        <br>
                        <br>
                        <center><h2>Investing is for Everyone</h2></center>
                        <br>
                        <h5>We are here to break down the barriers to entry of investing. Investing seems out of reach for
                            most people. No more. It is time for affordable, easy-to-use tools that are effective at generating
                            wealth.</h5>
                        <h5>We want you to invest. It is in our best interest help you grow your wealth with as much
                            success as possible by providing the right tools at an affordable price.</h5>
                        <br>
                        <center>
                            <a href="{% url 'signup' %}" class="btn button1">Join Us</a>
                        </center>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>

<div class="container">
    <div class="row no-gutters">
        <div class="col-md-7">
            <div class="container">
                <br>
                <center>
                    <h2>We're Launching Soon!</h2>
                </center>
                <br>
                <h5>Our first product is launching soon and we're very excited to join you on your investing journey!</h5>
                <h5>Sign up below for early access and updates on our product release!</h5>
                <br>
                <center>
                    <a href="{% url 'signup' %}" class="btn button3">Get Early Access</a>
                </center>
                <br>
            </div>
        </div>
        <div class="col-md-5">
            <img src="{% static 'img/project3.png' %}" class="card-img" alt="">
        </div>
    </div>
</div>
<br>
<br>
</body>
{% endblock %}