<!doctype html>
{% extends "base.html" %}
{% load static %}
{% block page_content %}

<head>
    <title>kauta - Privacy Notice</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/legal_notice.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body>
<br>
<br>

<div class="container">
    <center><h1>PRIVACY NOTICE</h1></center>
    <br>
    <h4>PRIVACY POLICY</h4>
    <p>Kauta Technologies respects your privacy and will take all reasonable steps to protect your personal information.
        Whether you are a Kauta Technologies client or a visitor to the public area of our Web site, we understand the
        importance you place on the privacy and security of information that personally identifies you or your account
        information. We refer to and treat this information as "personal information."</p>
    <p>Kauta Technologies, in conjunction with Google Analytics makes use of cookies - files that reside on the
        computer that you use to access the web used for storing pieces of information - to gather anonymous data
        about your interaction with our website and other websites. No personal identification information, such as
        your name or email address, is ever required or stored in this process, and your details are never sold to
        any third party. Access to and use of the data provided by Google and the aforementioned services assists us
        in delivering advertising and content that is more relevant to you and your interests. The collection and
        usage of this data can be disabled at any time by visiting www.google.com/settings/ads and changing your
        preferences. More information about this can be found at https://support.google.com/ads/answer/2662922?hl=en</p>

    <br>
    <h4>PERSONAL INFORMATION</h4>
    <p>In general, you can visit our website without having to divulge any personal information.
        However, while using this website you may provide information about yourself or it may be collected by us.
        If you have registered on our secure site, you may view your portfolio or account information and update your
        personal information at any time on the website. Your information is protected by a username and password. You
        are responsible for keeping such username and password confidential and should not disclose it to any third
        party. You may change your password at any time and we recommend that you do so regularly.</p>

    <br>
    <h4>USE OF INFORMATION</h4>
    <p>Personal information is used as is appropriate in the normal course of business to provide the products and
        services you have requested. We may retain any information for purposes of investment transaction processing
        and administration, to monitor our site or to communicate directly with you.</p>

    <br>
    <h4>SHARING OF INFORMATION</h4>
    <p>All personal information supplied to us or collected by us is kept strictly confidential and will not be
        passed on or sold to third parties. We will disclose or report personal information if and when required to
        do so by law or any regulatory authority, and to our employees or agents who require such information to carry
        out their duties.</p>

    <br>
    <h4>SECURITY OF INFORMATION</h4>
    <p>We take all reasonable steps to protect your personal information and are committed to ensuring that your
        information is secure, including the use of encryption technology. We can, however, not guarantee the security
        of any information you transmit to us electronically as it is susceptible to interception and monitoring.
        You, therefore, bear all risk of transmitting information in this manner.</p>

</div>

</body>

{% endblock %}