<!doctype html>
{% extends "base.html" %}
{% load static %}
{% block page_content %}

<head>
    <title>kauta - Terms and Conditions</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/legal_notice.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body>
<br>
<br>

<div class="container">
    <center><h1>TERMS AND CONDITIONS</h1></center>
    <br>
    <h4>NATURE OF INFORMATION ON THIS SITE</h4>
    <p>This Content is for informational purposes only, you should not construe any such information or other material
        as legal, tax, investment, financial, or other advice. Nothing contained on our Site constitutes a solicitation,
        recommendation, endorsement, or offer to buy or sell any securities or other financial instruments in this or
        in any other jurisdiction.</p>

    <br>
    <h4>INTELLECTUAL PROPERTY RIGHTS</h4>
    <p>a) This website is published by Kauta Technologies Pty Ltd and is protected by copyright and other intellectual
        property rights in existence at any time throughout the world. All website design, text, graphics, the
        typographical arrangement thereof, and all other material on this website is copyright of Kauta Technologies
        Pty Ltd. You may not, without our prior written permission, use our intellectual property for any other purposes.</p>
    <p>b) Permission is hereby granted to electronically copy and print hard copy portions of this website for the
        sole purpose of using this as an information resource for Kauta Technologies products. Any other use of
        materials on this website, including, without limitation, reproduction for purposes other than the above,
        modification, distribution or republication without the prior written permission of Kauta Technologies is
        prohibited.</p>
    <p>c) The trademarks, logos and service marks shown on this website, and any other multimedia works published on
        the website unless otherwise specified, are the trademarks of Kauta Technologies. No rights are granted to use
        any of them in any manner whatsoever.</p>


</div>

</body>

{% endblock %}