a {
    color: #000000;
}

p {
    font-size: 20px;
}

.button1 {
    background-color: black;
    color: white;
    border: 2px solid #000000;
    font-weight: bold;
    transition-duration: 0.4s;
}

.button1:hover {
    background-color: white;
    color: black;
}

.img-max {
    max-height: 375px;
}

.bold-text {
    font-weight: bold;
}
