{% extends "base.html" %}
{% load static %}
{% load google_analytics %}
{% block page_content %}

<head>
    <title>kauta - Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    {% google_analytics %}
</head>

<body>
<br>
<br>
<center>
  <div class="card">
    <br>
    <center>
      <img src="{% static 'img/kalai_logo_1.png' %}" alt="" style="width:20%">
      <h2>Please sign in</h2>
        <br>
    </center>

    <center>
      {% for message in messages %}
              <div class="alert alert-success">
                  <a class="close" href="#" data-dismiss="alert">×</a>

                  {{ message }}

              </div>
      {% endfor %}
      <form method="post">
        {% csrf_token %}

          {% for field in form %}
            <p>
              {{ field }}
            </p>
          {% endfor %}
          <br>
        <button type="submit" class="btn button1">Login</button>
      </form>
      <br>
    </center>
  </div>
</center>
</body>
{% endblock %}