<!doctype html>
{% extends "base.html" %}
{% load static %}
{% block page_content %}

<head>
    <title>kauta - Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<br>
<br>
<br>
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="container shadow bg-light">
            <br>
            <br>
            <center>
                <h2>Sign in</h2>
                <br>
            </center>

            <center>
                {% for message in messages %}
                    <div class="alert alert-success">
                        <a class="close" href="#" data-dismiss="alert">×</a>
                          {{ message }}
                    </div>
                {% endfor %}
                <form method="post">
                    {% csrf_token %}

                    {% for field in form %}
                    <p>{{ field }}</p>
                    {% endfor %}
                    <br>
                    <button type="submit" class="btn button1">Login</button>
                </form>
                <br>
            </center>
        </div>
    </div>
</div>
<br>
</body>
{% endblock %}