<!doctype html>
{% extends 'base.html' %}
{% load static %}
{% block page_content %}

<head>
    <title>kauta - US Election 2020</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/election.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<br>
<br>

{% if user.is_authenticated %}
    <center>
        <div class="card-deck deck-change">
            <div class="card trump-card">
                <img class="card-img-top" src="{% static 'img/trump.jpg' %}" alt="">
                <div class="card-body">
                    <center>
                        <h3 class="card-title bold-text">Donald Trump</h3>
                        <h5 class="card-title trump-text">Keep America Great</h5>
                    </center>
                </div>
            </div>
            <br>
            <div class="card biden-card">
                <img class="card-img-top" src="{% static 'img/biden.jpg' %}" alt="">
                <div class="card-body">
                    <center>
                        <h3 class="card-title bold-text">Joe Biden</h3>
                        <h5 class="card-title biden-text">Build Back Better</h5>
                    </center>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="card polling-card">
            <br>
            <h2 class="bold-text">Electoral College</h2>
            <h2><span class="red-perc">214</span> vs <span class="blue-perc">290</span></h2>
            <br>
            <h2 class="bold-text">Vote %</h2>
            <h2><span class="red-perc">47.7%</span> vs <span class="blue-perc">50.7%</span></h2>
            <br>
            <h2 class="bold-text">Vote Count</h2>
            <h2><span class="red-perc">70 903 094</span> vs <span class="blue-perc">75 404 182</span></h2>
            <br>
        </div>
        <br>
        <br>
    </center>
{% else %}
    <center>
        <div class="card signup-card" style="width: 50%;">
            <br>
            <center>
                <img src="{% static 'img/kalai_logo_1.png' %}" alt="" style="width:20%;">
                <h2>Sign Up to Follow the Election</h2>
                <br>
                <a href="{% url 'signup' %}" class="btn button2">Sign Up</a>
                <br>
                <br>
                <h4>OR</h4>
                <br>
                <a href="{% url 'login' %}" class="btn button1">Login</a>
                <br>
                <br>
            </center>
        </div>
    </center>
{% endif %}
</body>

{% endblock %}