<!doctype html>
{% extends "base.html" %}
{% load static %}
{% block page_content %}

<head>
    <title>kauta - How to use Correlation for Grouping Stocks</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/tools.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<br>
<br>
<center>
    <h1><strong>How to Use Correlation for Grouping Stocks</strong></h1>
</center>
<br>
<br>

<div class="container">
    <div class="row no-gutters justify-content-center">
        <div class="col-md-9">
            <div class="container shadow bg-light">
                <br>
                <center><h4>What is Stock Correlation?</h4></center>
                <br>
                <p>Stock correlation is a statistic that measures the degree to which two stocks move in relation to
                    each other. The correlation coefficient can be a value between +1 (perfect positive correlation)
                    and -1 (perfect negative correlation).
                </p>
                <br>

                <center><h4>Why is it Important in Investing?</h4></center>
                <br>
                <p>The most important aspect of investing is Risk Management. In other words, how can you reduce
                    the chances of your portfolio losing money? One aspect of risk in a portfolio is
                    correlation - if your portfolio is very correlated, it is likely taking on more risk than you
                    think.
                </p>
                <p>In this case, correlation is used to measure which stocks are likely to move up and together and
                    can therefore be treated as similar assets in a portfolio. Correlation is a measure of risk
                    since it determines the likelihood of your stocks increasing or decreasing together.
                </p>
                <p>Therefore, if you reduce the correlation in your portfolio, you reduce the downside of your
                    portfolio because the stocks you own are less likely to move up or down together
                    in a given time period.
                </p>
                <p>For example, most technology stocks (Apple, Amazon, Microsoft,
                    Facebook etc) are highly correlated. Lets say Apple dives 10% this week - the odds are pretty
                    high that the other technology stocks will drop about 10% too. So, to prevent your portfolio
                    taking a 10% dive in one week, having stocks that aren't in the technology sector (aka aren't
                    correlated), for example Ford Motor Company and Bank of America, the drop in your portfolio
                    is likely to be far less severe.
                </p>
                <br>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>

<div class="container">
    <div class="row no-gutters justify-content-center">
        <div class="col-md-9">
            <div class="container">
                <center>
                    <h3>An Example</h3>
                </center>
                <p>Below is a table of 8 stocks with their respective daily closing prices. Our goal is to build groups
                    of stocks that are similar to each other, where each group is a set of highly correlated stocks
                    (ie they tend to move up together and down together).
                </p>
            </div>
        </div>
    </div>
    <br>

    <table>
        <tr>
            <th>Date</th>
            <th>aapl</th>
            <th>amzn</th>
            <th>fb</th>
            <th>nee</th>
            <th>baa</th>
            <th>cat</th>
            <th>peg</th>
            <th>air</th>
        </tr>
        {% for price in prices %}
        <tr>
            {% for item in price %}
            <td>{{ item }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <br>
    <br>

    <div class="row no-gutters justify-content-center">
        <div class="col-md-9">
            <div class="container">
                <p>So, we upload our file (example below) and click 'Group Correlated Stocks'. The tool then calculates
                    each stock pair's correlation and orders them based on their correlation, creating groups of highly
                    correlated stocks that are not highly correlated with other groups.
                </p>
            </div>
        </div>
    </div>
    <br>

    <center><h5>We get an output like this:</h5></center>
    <table>
        <tr>
            <th>aapl</th>
            <th>amzn</th>
            <th>fb</th>
            <th>nee</th>
            <th>cat</th>
            <th>peg</th>
            <th>air</th>
            <th>baa</th>
        </tr>
        <tr>
            <td class="cell-yellow">1.0</td>
            <td class="cell-yellow">0.93</td>
            <td class="cell-yellow">0.97</td>
            <td class="cell-green">0.4</td>
            <td class="cell-blue-green">0.31</td>
            <td class="cell-blue-green">0.27</td>
            <td class="cell-blue">-0.34</td>
            <td class="cell-blue">-0.23</td>
        </tr>
        <tr>
            <td class="cell-yellow">0.93</td>
            <td class="cell-yellow">1.0</td>
            <td class="cell-yellow">0.97</td>
            <td class="cell-blue-green">0.35</td>
            <td class="cell-blue-green">0.22</td>
            <td class="cell-blue-green">0.31</td>
            <td class="cell-blue">-0.41</td>
            <td class="cell-blue-blue-green">-0.15</td>
        </tr>
        <tr>
            <td class="cell-yellow">0.97</td>
            <td class="cell-yellow">0.97</td>
            <td class="cell-yellow">1.0</td>
            <td class="cell-green">0.48</td>
            <td class="cell-blue-green">0.37</td>
            <td class="cell-blue-blue-green">0.11</td>
            <td class="cell-blue-blue-green">-0.05</td>
            <td class="cell-blue-blue-green">-0.09</td>
        </tr>
        <tr>
            <td class="cell-green">0.4</td>
            <td class="cell-blue-green">0.35</td>
            <td class="cell-green">0.48</td>
            <td class="cell-yellow">1.0</td>
            <td class="cell-yellow">0.94</td>
            <td class="cell-green-yellow-yellow">0.87</td>
            <td class="cell-blue-green">0.33</td>
            <td class="cell-blue-green">0.37</td>
        </tr>
        <tr>
            <td class="cell-blue-green">0.31</td>
            <td class="cell-blue-green">0.22</td>
            <td class="cell-blue-green">0.37</td>
            <td class="cell-yellow">0.94</td>
            <td class="cell-yellow">1.0</td>
            <td class="cell-green-yellow-yellow">0.84</td>
            <td class="cell-blue-green">0.24</td>
            <td class="cell-blue-green">0.35</td>
        </tr>
        <tr>
            <td class="cell-blue-green">0.27</td>
            <td class="cell-blue-green">0.31</td>
            <td class="cell-blue-blue-green">0.11</td>
            <td class="cell-green-yellow-yellow">0.87</td>
            <td class="cell-green-yellow-yellow">0.84</td>
            <td class="cell-yellow">1.0</td>
            <td class="cell-blue-blue-green">0.19</td>
            <td class="cell-blue-green">0.21</td>
        </tr>
        <tr>
            <td class="cell-blue">-0.34</td>
            <td class="cell-blue">-0.41</td>
            <td class="cell-blue-blue-green">-0.05</td>
            <td class="cell-blue-green">0.33</td>
            <td class="cell-blue-green">0.24</td>
            <td class="cell-blue-blue-green">0.19</td>
            <td class="cell-yellow">1.0</td>
            <td class="cell-yellow">0.94</td>
        </tr>
        <tr>
            <td class="cell-blue">-0.23</td>
            <td class="cell-blue-blue-green">-0.15</td>
            <td class="cell-blue-blue-green">-0.09</td>
            <td class="cell-blue-green">0.37</td>
            <td class="cell-blue-green">0.35</td>
            <td class="cell-blue-green">0.21</td>
            <td class="cell-yellow">0.94</td>
            <td class="cell-yellow">1.0</td>
        </tr>
    </table>
    <br>
    <br>

    <div class="row no-gutters justify-content-center">
        <div class="col-md-9">
            <div class="container">
                <p>You will notice that the table forms unique groupings in a diagonal pattern, where higher correlations
                    tend towards yellow and negative correlation tends towards blue where high correlations
                    cluster around a diagonal set of 1s. Each group should form a N x N matrix, indicating which
                    stocks can be grouped together as well as a less correlated area, separating each group from the
                    next.
                </p>
                <p>You will often find that stocks in similar sectors or industries are grouped together - in this example,
                    Apple (AAPL), Amazon (AMZN) and Facebook (FB) are all technology stocks and therefore highly correlated.
                    Whereas Boeing (BAA) and Airbus (AIR) are both in the Aerospace and Defense industry, and are highly
                    correlated with each other, but not with the technology stocks. Therefore, Group 1 can actually be
                    labeled 'Technology' and Group 2 can be labeled 'Aerospace & Defense'.
                </p>
            </div>
        </div>
    </div>
</div>
<br>
<br>

<div class="container">
    <center><h3>File Structure</h3></center>
    <br>
    <div class="row no-gutters">
        <div class="col-md-6">
            <div class="container shadow bg-light">
                <br>
                <center>
                    <p><strong>.CSV file Structure</strong></p>
                </center>
                <br>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-10">
                            <div class="container">
                                <p class="description"><em>Header &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</em>aapl,amzn,fb,nee,baa,cat,peg,air</p>
                                <p class="description"><em>Period 1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</em>100,150,60,170,301,122,24,83</p>
                                <p class="description"><em>Period 2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</em>110,163,67,171,250,123,25,74</p>
                                <p class="description"><em>Period 3 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</em>112,169,66,174,255,115,23,77</p>
                                <p class="description"><em>. . . &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</em>. . .</p>
                                <p class="description"><em>Period n &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</em>109,145,64,176,245,130,25,73</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <div class="col-md-6">
            <div class="container">
                <br>
                <center>
                    <p><strong>.CSV file Structure Explained</strong></p>
                </center>
                <br>
                <div class="container">
                    <p class="description"><em>&nbsp;&nbsp;&nbsp;Header &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</em>Ticker symbol for each stock you want to correlate</p>
                    <p class="description"><em>&nbsp;&nbsp;&nbsp;Period 1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</em>Each ticker's closing price for the 1st period</p>
                    <p class="description"><em>&nbsp;&nbsp;&nbsp;Period 2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</em>Each ticker's closing price for the 2nd period</p>
                    <p class="description"><em>&nbsp;&nbsp;&nbsp;Period 3 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</em>Each ticker's closing price for the 3rd period</p>
                    <p class="description"><em>&nbsp;&nbsp;&nbsp;. . . &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</em>. . .</p>
                    <p class="description"><em>&nbsp;&nbsp;&nbsp;Period n &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</em>Each ticker's closing price for the nth period</p>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<center><a href="{% url 'corr_file_upload' %}" class="btn button2">Return to Correlation</a></center>
<br>
<br>

<center>
    <h3><strong>If the .CSV were a Table</strong></h3>
</center>
<br>

<div class="container">
    <table>
        <tr>
            <th>Date</th>
            <th>aapl</th>
            <th>amzn</th>
            <th>fb</th>
            <th>nee</th>
            <th>baa</th>
            <th>cat</th>
            <th>peg</th>
            <th>air</th>
        </tr>
        {% for price in prices %}
        <tr>
            {% for item in price %}
            <td>{{ item }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
<br>
<br>
<br>

<center>
    <h3><strong>Important Notes on the File that you Submit</strong></h3>
</center>
<br>
<div class="container">
    <div class="row no-gutters justify-content-center">
        <div class="col-md-9">
            <div class="container">
                <ul class="list">
                    <li>The length of the period for which you want to perform correlation grouping does not matter. It
                        can be the daily, weekly, monthly or even yearly closing prices for each stock. </li>
                    <li>Make sure the time period and time frame for each stock is the same.</li>
                    <li>The dates for each stock's prices must align. The model will not output the correct correlations if
                        Apple stock's February data is in the March row. Apple's March data must go with Amazon's March data and
                        both of theirs must go with Walmart's March data etc.</li>
                    <li>Ensure that you have a good amount of data. 3 monthly periods is too little to calculate an effective
                        correlation. A good rule of thumb is to use a minimum of 25 periods.</li>
                    <li>It is important to note that some stocks may remain highly correlated over a long time frame,
                        but this correlation may recede over time depending on various market factors and individual
                        company performance.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br>
<br>


</body>

{% endblock %}