<!doctype html>
{% extends "base.html" %}
{% load static %}
{% block page_content %}

<head>
    <title>kauta - Principal Component Analysis</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/trades.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<br>
<br>
<center>
    <h1><strong>Principal Component Analysis</strong></h1>
    <br>
    {% if user.is_authenticated and user.is_staff %}
        <br>
    {% else %}
        <br>
        <br>
        <center><h1>The Next Generation Portfolio Manager</h1></center>
        <br>
        <br>
        <center><h4>COMING SOON!</h4></center>
        <br>
        <br>
        <a href="{% url 'signup' %}" class="btn signup">Sign Up!</a>
        <br>
    {% endif %}
</center>
<br>
<br>

<div class="container">
    <div class="row no-gutters">
        <div class="col-md-7">
            <div class="container">
                <br>
                <h6><strong>{{ upload_ind }}</strong></h6>
                <br>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br>
                    <br>
                    <button type="submit" class="btn button3">Perform PCA</button>
                    <br>
                </form>
                <br>
                <br>
            </div>
        </div>
        <div class="col-md-5">
            <div class="container shadow bg-light">
                <br>
                <center>
                    <p><strong>File format must be .CSV as shown here</strong></p>
                </center>
                <br>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="container">
                                <p>aapl,amzn,fb,nee,baa,cat,peg,air</p>
                                <p>100,150,60,170,301,122,24,83</p>
                                <p>110,163,67,171,250,123,25,74</p>
                                <p>108,156,65,172,240,122,24,72</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <center><a href="{% url 'how_to_pca' %}" style="color:blue">How to use PCA</a></center>
                <br>
            </div>
        </div>
    </div>
</div>
<br>

</body>

{% endblock %}